{% extends "base.html" %}

{%block title %} {% endblock title %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class ="subcontainer">
        <h2>stack it </h2>
        <span> home </home>
        </div>
        
        <h3>Title</h3>        
        <input type="text" >

        
        <h3>description</h3> 
            <div class = "toolbox">
            </div>       
        <input type="rich-text" contenteditable="true" >

        
        <h3>Tags</h3>
        <input type="text" placeholder="Add tags" />
        <button class="submit-btn">Submit</button>
    </body>
    </html>
{% endblock content %}

