{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Sample title{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block style %}
    {% endblock style %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">StackIt</a>
        </div>

        <div class="nav-buttons">
            {% if request.path != '/' %}
                <a href="{% url 'home' %}">Home</a>
            {% endif %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    {% block script %}{% endblock script %}
</body>
</html>